### print() function

### Comments

In [1]:
# First Program
print("Acropolis")

Acropolis

### Variables

In [2]:
# In Python there is no need to mention the data type

var1 = 20      # An integer assignment
var2 = 4.123   # A floating point
var3 = "India" # A string

print(var1,' ',var2,' ',var3)

20   4.123   India

### Assignment

In [4]:
# general syntax
#variable-name=value

# Assigning same value to multiple variables

var1 = var2 = var3 = 1
print(var1,' ',var2,' ',var3)

# Assigning Different values to variable in a single expression

var1, var2, var3 = 1, 2.5, "nikita"
print(var1,' ',var2,' ',var3)

# Note: commas can be used for multi-assignments

1   1   1
1   2.5   nikita

### Taking input

In [5]:
firstname = input("Enter your first name: ")
lastname = input("Enter your second name: ")
semester = input("Enter your semester: ")

Enter your first name: nikita
Enter your second name: chouhan
Enter your semester: 6

In [6]:
# run below code
age = input("Enter your age: ")
age = int(age)+5
print(age)

Enter your age: 20
25

### Write a program in Python for data type conversion from: 
- int to string
- int to float
- string to int
- string to float
- float to int
- float to string

In [7]:
a=10
print(str(a))
print(float(a))

b='20'
print(int(b))
print(float(b))

c=23.56
print(int(c))
print(str(c))

10
10.0
20
20.0
23
23.56

### Task1: 
#### WAP to display your infomation like (full name, branch, university name, age, 12th %, hobbies). Store each value into some meaningful variable.  the ouptput of the program should look like

In [8]:

fullname = input("Enter your full name: ")
branch = input("Enter your branch: ")
university = input("Enter your university: ")
age = input("Enter your age: ")
twelthper = input("Enter your 12%: ")
hobbies = input("Enter your hobbies: ")
print(fullname)
print(branch)
print(university)
print(age)
print(twelthper)
print(hobbies)

Enter your full name: Nikita Chouhan
Enter your branch: cse
Enter your university: RGPV
Enter your age: 20
Enter your 12%: 76
Enter your hobbies: painting,dancing
Nikita Chouhan
cse
RGPV
20
76
painting,dancing

### Commmonly used functions 
- round(n)
- format(n, '0.2f')
- format(n,',') # put a comma on thousand place
- format(n,'b') # print binary of the number, 'o', 'x'

- eval(expression)
- chr(n)
- ord(character)
- bin(n), oct(n), hex(n)

- #### function on string/character data
- isdigit()
- isalpha()
- isspace()
- numeric()
- ljust(width)
- rjust(width)
- cjust(width)

In [9]:
# Python3 program to demonstarte 
# the str.format() method 
  
# using format option in a simple string 
print ("{}, A computer science portal for acropolis."
                        .format("acropolis")) 
  
# using format option for a 
# value stored in a variable 
str = "This article is written in {}"
print (str.format("Python")) 
  
# formatting a string using a numeric constant 
print ("Hello, I am {} years old !".format(20))

acropolis, A computer science portal for acropolis.
This article is written in Python
Hello, I am 20 years old !

In [10]:
# Characters and their ASCII value

x=68
# print character corresponding to x 
print(chr(x))
char='D'
# print number corresponding to char
print(ord(char))

D
68

In [19]:
# write code to print your name 10 times
print('ACROPOLIS\n'*10)

ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS
ACROPOLIS

In [21]:
for i in range(5):
    print("*"*i)

# new pattern program
print("\n")
for i in range(6):
  print("*"*i)

*
**
***
****



*
**
***
****
*****

In [23]:
for i in range(1,5):
  print(" "*(5-i),"*"*i)

     *
    **
   ***
  ****

In [24]:
# use seperator and end with specific symbol
a, b, c = 50, 60, 30
print(a,b,c,sep=':',end=',')

50:60:30,

In [26]:
for i in range(1,6):
    print(" "*(6-i),"*"*i)

      *
     **
    ***
   ****
  *****

In [27]:
# unpack characters
word = 'Nikita'
a,b,c,d,e,f = word
print(a,b,c,d,e,f)

N i k i t a

### Format output

In [28]:
x = 50 
y = 100
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 50 and y is 100

In [30]:
print('I like {0} and {1}'.format('ice cream','pizza'))

I like ice cream and pizza

In [31]:
print('I like {1} and {0}'.format('ice cream','chocolate'))

I like chocolate and ice cream

In [32]:
print('Hello {name}, {greeting}'.format(greeting = 'Good morning', name = 'Sneha !'))

Hello Sneha !, Good morning

### Task2
#### Raman likes tea but he has coffee. Riya likes coffee but has tea. Write a program in python so that both can enjoy what they like.

In [33]:
# write your code after this line
raman='coffee'
riya='tea'
temp=raman
raman=riya
riya=temp
print("raman :{}".format(raman))
print("riya :{}".format(riya))

raman :tea
riya :coffee

### Task3
Write a program for following
- Input: 'Python'
- Output: 642

In [34]:
e,f,g,h,i,j='Python'
s=ord(e)+ord(f)+ord(g)+ord(h)+ord(i)+ord(j)
print(s)

642

# Working with math, calendar, random, datetime

In [35]:
import math
print(math.sqrt(9))
print(math.floor(10.8))
print (math.ceil(10.5))
math.pi

3.0
10
11

3.141592653589793

In [37]:
import random
x = random.random() # generate any random number between 0 and 1
print("x = ", x)

y = random.randint(7,20)# generate any random number between 5 and 20
print("y = ", y)

x =  0.21531992719565451
y =  9

In [38]:
import datetime

date = datetime.datetime.now().date() # YYYY-MM-DD format
year = datetime.datetime.now().year
month = datetime.datetime.now().month
day = datetime.datetime.now().day

print(date)
print(year)
print(month)
print(day)

2020-01-08
2020
1
8

In [40]:
import calendar

year = int(input("Enter Year : "))
month = int(input("Enter the Month : "))

print(calendar.month(year, month))

Enter Year : 2020
Enter the Month : 1
    January 2020
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31